<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

   <targets>
     
     <target name="Application"
          xsi:type="File"
          layout="${longdate}|${level}|${threadid}|${message}|${exception:format=tostring}"
          deleteOldFileOnStartup="false"
          concurrentWrites="true"
          keepFileOpen ="false"
          fileName="${basedir}/Logs/FeAPI.log"
          encoding="UTF-8"
          archiveFileName="${basedir}/Logs/BetsApi-log.{#}.log"
          archiveNumbering="DateAndSequence"
          archiveAboveSize="10000000"
          archiveDateFormat="yyyyMMdd"
    />

     <target name="logconsole" xsi:type="Console" />

   </targets>
  
  <rules>
    <!--<logger name="Microsoft.*" minlevel="Info" writeTo="" final="true" />-->
    <logger name="*" minlevel="Error" writeTo="logconsole" />
    <logger name="*" minlevel="Error" writeTo="Application" />
  </rules>

</nlog>
